<!-- begin::Header -->
<app-component1-sub6 (mode)="switchMode($event)" (modeTypeExport)="submitModeTypeExport($event)">
</app-component1-sub6>
<!-- end::Header -->

<!-- begin::Alert -->
<div *ngIf="jobsState.hasError && isLoading"
    class="alert alert-custom alert-notice alert-light-warning fade show ml-2 mr-2 mt-2" role="alert">
    <div class="alert-icon"><i class="flaticon-warning"></i></div>
    <div class="alert-text">
        {{jobsState.messageError}}
        <br>
        {{jobsState.description}}
    </div>
    <div class="alert-close">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="ki ki-close"></i></span>
        </button>
    </div>
</div>
<!-- end::Alert -->

<!-- begin::Board -->
<div class="board">
    <div class="board-wrapper">
        <div class="board-columns" cdkDropListGroup>
            <div class="board-column" *ngFor="let jobsItem of (jobsTrackingService.item$ | async)">

                <!-- begin::Header -->
                <div class="row">
                    <div class="col-2">
                        <i [class]="changeStatusJobsIcon(jobsItem.jobsTrackingIndex)"></i>
                    </div>
                    <div class="col-8">
                        <div class="font-weight-boldest display-5 h4">{{jobsItem.name}}</div>
                    </div>
                    <div class="col-2">
                        <div class="text-right font-weight-boldest">
                            {{jobsItem?.jobs.length}}
                        </div>
                    </div>
                </div>
                <!-- end::Header -->

                <!-- begin::Card -->
                <div class="tasks-container mt-2" cdkDropList [cdkDropListData]="jobsItem.jobs"
                    (cdkDropListDropped)="dropJobs($event, jobsItem)">
                    <app-component1-sub3 (click)="openEditJobs(task)" cdkDrag *ngFor="let task of jobsItem.jobs"
                        [jobsTrackingId]="jobsItem.jobsTrackingIndex" [taskModel]="task">
                    </app-component1-sub3>
                </div>
                <!-- end::Card -->

                <!-- begin::Add Job -->
                <button *ngIf="!checkSwitch" (click)="openAddJobs(jobsItem)" type="button"
                    class="btn btn-light btn-lg btn-block btn-sm font-weight-bolder">
                    Add Job
                </button>
                <!-- end::Add Job -->
            </div>

        </div>

    </div>
</div>
<!-- end::Board -->