<div class="board">
    <div class="board-wrapper">
        <div class="board-columns" cdkDropListGroup>
            <div class="board-column" *ngFor="let jobsItem of (jobsTrackingService.item$ | async)">

                <div class="columns column-title">
                    <div class="column is-10">{{jobsItem.name}}</div>
                    <div class="column is-2">{{jobsItem?.jobs.length}}</div>
                </div>

                <div class="tasks-container" cdkDropList [cdkDropListData]="jobsItem.jobs"
                    (cdkDropListDropped)="dropJobs($event, jobsItem)">
                    <app-component1-sub3 (click)="viewJobsDetails(task)" cdkDrag *ngFor="let task of jobsItem.jobs"
                        [jobsTrackingId]="jobsItem.jobsTrackingIndex" [taskModel]="task">
                    </app-component1-sub3>
                </div>

            </div>
        </div>
    </div>
</div>