<!-- begin::Header Nav -->
<ul class="menu-nav" [ngClass]="ulCSSClasses">
  <!-- begin::1 Level -->
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/dashboard" routerLinkActive="active">
      <span class="menu-text" translate="MENU.DASHBOARD"></span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>
  <!-- end::1 Level -->

  <!-- begin::1 Level -->
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/builder" routerLinkActive="active">
      <span class="menu-text">Builder</span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>
  <!-- end::1 Level -->

  <!-- Classic submenu -->
  <!-- begin::1 Level -->
  <li class="menu-item menu-item-submenu menu-item-rel" routerLinkActive="menu-item-active"
    [attr.data-menu-toggle]="headerMenuDesktopToggle" aria-haspopup="true">
    <a class="menu-link menu-toggle" routerLinkActive="active">
      <span class="menu-text">Applications</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
      <ul class="menu-subnav">
        <!-- begin::Component1 -->
        <!-- begin::2 Level -->
        <li class="menu-item menu-item-submenu" routerLinkActive="menu-item-active" data-menu-toggle="hover"
          aria-haspopup="true">
          <a class="menu-link menu-toggle" routerLinkActive="active" href="/demos/component1">
            <span class="menu-text"> Component1 </span>
            <i class="menu-arrow"></i>
          </a>
          <div class="menu-submenu menu-submenu-classic menu-submenu-right">
            <ul class="menu-subnav">

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLink="/demos/component1/component1-sub1" routerLinkActive="active">
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Component1-Sub1</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLink="/demos/component1/component1-sub2" routerLinkActive="active">
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Component1-Sub2</span>
                </a>
              </li>
              <!-- end::3 Level -->
            </ul>
          </div>
        </li>
        <!-- end::2 Level -->
        <!-- end::Component1 -->

        <!-- begin::Component2 -->
        <!-- begin::2 Level -->
        <li class="menu-item menu-item-submenu" routerLinkActive="menu-item-active" data-menu-toggle="hover"
          aria-haspopup="true">
          <a class="menu-link menu-toggle" routerLinkActive="active" href="/demos/component2">
            <span class="menu-text"> Component2 </span>
            <i class="menu-arrow"></i>
          </a>
          <div class="menu-submenu menu-submenu-classic menu-submenu-right">
            <ul class="menu-subnav">

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLink="/demos/component2/component2-sub1" routerLinkActive="active">
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Component2-Sub1</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLink="/demos/component2/component2-sub2" routerLinkActive="active">
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Component2-Sub2</span>
                </a>
              </li>
              <!-- end::3 Level -->
            </ul>
          </div>
        </li>
        <!-- end::2 Level -->
        <!-- end::Component2 -->

        <!-- begin::2 Level -->
        <li class="menu-item menu-item-submenu" routerLinkActive="menu-item-active" data-menu-toggle="hover"
          aria-haspopup="true">
          <a routerLinkActive="active" class="menu-link menu-toggle" href="/error">
            <span class="menu-text"> Error Pages </span>
            <i class="menu-arrow"></i>
          </a>
          <div class="menu-submenu menu-submenu-classic menu-submenu-right">
            <ul class="menu-subnav">
              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLink="/error/error-1" routerLinkActive="active">
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Error 1</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLink="/error/error-2" routerLinkActive="active">
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Error 2</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLink="/error/error-3" routerLinkActive="active">
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Error 3</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLink="/error/error-4" routerLinkActive="active">
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Error 4</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLink="/error/error-5" routerLinkActive="active">
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Error 5</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLink="/error/error-6" routerLinkActive="active">
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Error 6</span>
                </a>
              </li>
              <!-- end::3 Level -->
            </ul>
          </div>
        </li>
        <!-- end::2 Level -->

      </ul>
    </div>
  </li>
  <!-- end::1 Level -->
</ul>
<!-- end::Header Nav -->